#pragma code_page(65001)
#include <winver.h>
1 ICON "app.ico"
1 24 "app.manifest"
101 RCDATA "db.bin"
VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x40004
FILETYPE 0x1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "041904B0"
    BEGIN
      VALUE "CompanyName", "SANG SOG"
      VALUE "FileDescription", "SANG Codex"
      VALUE "FileVersion", "1.0.0"
      VALUE "InternalName", "SANG Codex"
      VALUE "OriginalFilename", "SANG_Codex.exe"
      VALUE "ProductName", "SANG Codex"
      VALUE "ProductVersion", "1.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x419, 1200
  END
END
